<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Frankin | Feeling Lucky | Weather, Forecast</title>
        <meta name="description" content="Short Description of the page.">
        <meta name="viewport" content="width=device-width">
        <link href="screen.css" rel="stylesheet" type="text/css" media="screen">
    </head>
    <body>
        <header>
            <img src="feelingLucky.png">
            <p>Lucky weather forecast</p>
        </header>
        <nav>
            <ul>
                <li><a href="#" title="Go to home page">Home</a></li>
                <li><a href="#" title="Go to Franklin page">Franklin</a></li>
                <li><a href="#" title="Go to Grenville">Grenville</a></li>
                <li><a href="#" title="Go to Springfield">Springfield</a></li>
                <li><a href="#" title="Search box">Search</a></li>
            </ul>
        </nav>
        <main>
            <section class="overview">
                <div class="title">
                     <h1><span>&#9856;</span><span class="rotate25">&#9861;</span> Feeling Lucky?</h1>
                     <h1>Franklin Idaho</h1>
                </div>
                <div id="highlo">
                    <p>Current: 16</p>
                   <span> <img src="#" alt="weather icon">
                    <p>17/3</p></span>
                </div>
        
            </section>
            <section class="cur_conditions">
                <h2>Current Conditions</h2>
                <p>Wind: 1-5 mph </p>
                <p>Precipitation: 0%</p>
            </section>
            <section class="hourly">
                <h2>Hourly Forecast</h2>
                <ul>
                    <li>"0": 67,</li>
                    <li>"1": 67,</li>
                    <li>"2": 69,</li>
                    <li>"3": 69,</li>
                    <li>"4": 69,</li>
                    <li>"5": 70,</li>
                    <li>"6": 69,</li>
                    <li>"7": 72,</li>
                    <li>"8": 74,</li>
                    <li>"9": 77,</li>
                    <li>"10": 79,</li>
                    <li>"11": 81,</li>
                    <li>"12": 84,</li>
                    <li>"13": 86,</li>
                    <li>"14": 88,</li>
                    <li>"15": 90,</li>
                    <li>"16": 90,</li>
                    <li>"17": 85,</li>
                    <li>"18": 83,</li>
                    <li>"19": 79,</li>
                    <li>"20": 74,</li>
                    <li>"21": 70,</li>
                    <li>"22": 68,</li>
                    <li>"23": 66</li>
                </ul>
            </section>
			
        </main>
        <footer>
            &copy;2017 Kyle Buchanan
            <a href="">Home</a>
        </footer>
    </body>
</html>