<!doctype html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Frankin | Feeling Lucky | Weather, Forecast</title>
        <meta name="description" content="Short Description of the page.">
        <meta name="viewport" content="width=device-width">
        <link href="screen.css" rel="stylesheet" type="text/css" media="screen">
    </head>
    <body>
        <header>
            <h1>Feeling Lucky</h1>
            <img src="feelingLucky.png">
            <p>Lucky weather forecast</p>
        </header>
        <nav>
            <ul>
                <li><a href="#" title="Go to home page">Home</a></li>
                <li>Franklin</li>
                <li>Grenville</li>
                <li>Springfield</li>
                <li>Search</li>
            </ul>
        </nav>
        <main>
            <h1>Franklin, ID</h1>
            <ul>
                <li>Current: 82</li>
                <li>Lo: 66</li>
                <li>High: 90</li>
            </ul>
            <img src="sunny.franklin.jpg" width="200px">
            <h2>Current Conditions</h2>
            <p>Wind: 1-5 mph </p><br>
            <p>Precipitation: 0%</p>
            <h2>Hourly Forecast</h2>
            <p>"0": 67,<br>
			"1": 67,<br>
			"2": 69,<br>
			"3": 69,<br>
			"4": 69,<br>
			"5": 70,<br>
			"6": 69,<br>
			"7": 72,<br>
			"8": 74,<br>
			"9": 77,<br>
			"10": 79,<br>
			"11": 81,<br>
			"12": 84,<br>
			"13": 86,<br>
			"14": 88,<br>
			"15": 90,<br>
			"16": 90,<br>
			"17": 85,<br>
			"18": 83,<br>
			"19": 79,<br>
			"20": 74,<br>
			"21": 70,<br>
			"22": 68,<br>
			"23": 66</p>
            
        </main>
        <footer>
            &copy;2017 Kyle Buchanan
            <a href="">Home</a>
        </footer>
    </body>
</html>