@import url('https://fonts.googleapis.com/css?family=Sansita');
* {
 box-sizing: border-box; /* changes width property
    to total width instead of content width */
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure {
 display: block; /* just in case we have
any older browsers that don't recognize
the HTML5 semantic elements */
}

body {
 margin: 0; /* remove any margin from body */
 padding: 0; /* ditto for padding */
 background-color: salmon;
 font-size: 20px;
 font-family: helvetica, arial, sans-serif;
}
main {
 display: flex;
 flex-flow: column nowrap;
 align-items: center; /*center aligned content*/
 background-image: url(sunny-winter.jpg);
 background-size: cover;
}
nav ul {
    display: flex; /*horizontal nav bar*/
    justify-content: center;
    list-style: none;
    padding: none;
}
nav li {
    padding: .5em
}
nav {
    position: fixed; /*nav bar at the bottom*/
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #A6D8DB;
    font-size: 16px;
}
nav a:link {
    text-decoration: none;
    color: #47556F;
}
.title h1 + h1 {
    text-align: right;
    margin-top: -.7em;
}
footer {
    margin-bottom: 4em;
    background-color: #E7EF61;
}
#highlow {
    display: flex;
    justify-content: center;
}
#highlo span {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#icon {
    display: flex;
    justify-content: space-between;
}

.hourly {
    display: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sansita, arial, generic-family;
}
header {
    margin-top: -1em;
    margin-bottom: -1em;
    background-color: #A6D8DB;
}
header img {
    width: 100%;
}

.overview {
    background-color: rgba(200,200,200,.6);
margin: .2em auto;
border: 1px solid;
border-radius: 5px;
}
.cur_conditions { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 5px;
    width: 80%
}
.rotate25 {
    transform: rotate(25deg);
    display: inline-block;
}
@media screen and (min-width: 1000px) {
  nav {
    position: fixed; /*nav bar at the top*/
    bottom: 85%;
    top: 10%;
    left: 0;
    right: 0;
    font-size: 18pt
    } 
    header{
     position: fixed;
     top:0;
     left: 0;
     right: 0;
    }
    header img {
     width: 30%;
        
    }
    main{
        margin-top: 8em;
        display: flex;
        flex-flow: wrap;
    }
    .overview{
        padding: 1em;
    }
    .cur_conditions {
        width: 30%;
        height: 100%;
        order: -1;
        
    }
    .hourly {
     display: flex;
     background-color: rgba(200,200,200,.6);
     margin: .2em auto;
     border: 1px solid;
     border-radius: 5px;
        width: 30%;
    }
    footer {
        margin-bottom: auto;
    }
}