nav {
    background-color: red;
    color: white;
    font-family: cursive;
}
nav ul {
    display: flex; /*horizontal nav bar*/
    list-style: none;
    padding: 1em
}
nav li a{
    margin-right: 1em;
    color: white;
    text-decoration: none;
    font-size: 16pt;
    
}
nav a:hover {
    background-color: black;
}
h1 {
    font-size: 30pt;
}
header img {
    width: 50%
}
#top {
    margin:
}
#top {
    background-image: url(images/site/feature.jpg);
    padding: 7em;
    
}
#ontop {
    position: relative;
    left: 23em;
    color: red;
    
}
button {
    color: red;
    background-color: yellow;

}
#food {
    display: flex;
}
#foodpics a {
    display: flex;
    margin: 1em;
    
    
}
footer {
    background-color: red;
    padding: 1em;
    
}
@media screen and (min-width: 800px) {
    main {
        display: flex;
        flex-direction: column;
    }
    nav {
        background-color: black;
    }
}